{%- comment -%} 主页 #NAVBAR 区段，从 index.html 抽离。{%- endcomment -%}
      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link active" data-nav-link data-target="about" data-i18n="nav-home">Home</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link data-target="resume" data-i18n="nav-resume">Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link data-target="portfolio"
              data-i18n="nav-portfolio">Projects</button>
          </li>


          <li class="navbar-item">
            <button class="navbar-link" data-nav-link data-target="contact" data-i18n="nav-contact">Contact</button>
          </li>

          <li class="navbar-item navbar-language">
            <button class="navbar-link language-btn" id="language-toggle" title="切换语言 / Switch Language">
              <ion-icon name="globe-outline"></ion-icon>
              <span id="current-lang">EN</span>
            </button>
          </li>

        </ul>

      </nav>
